<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=172.27.208.40:1523/dcgestio;user id=cgestion;password=xR2$kM7%fP3dT1oQ;" />
	</appSettings>
</configuration>